<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" >
    <title>Add new item</title>
</head>
<body>
<h2>Add new Item.</h2>
  <form action="/addNewItem" method = "POST">
            <p>Todo Item Name <input type = "text" name = "todo_item" /></p>
            <p>Due Date <input type = "datetime-local" name = "allocatedTime" /></p>


            <p><input type = "submit" value = "add to form" /></p>

        </form>
<a href="/" target="_blank">Cancel addition</a>

</body>
</html>